.contenedor {
  max-width: 750px;
  margin: auto;
  padding: 20px;
}

.tarjetas {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.card {
  flex: 1;
  background: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
  text-align: center;

  h3 {
    margin-bottom: 8px;
  }

  p {
    font-size: 24px;
    font-weight: bold;
  }
}

.total {
  background: #dfe6e9;
}

.completadas {
  background: #c8e6c9;
}

.pendientes {
  background: #ffeaa7;
}

.categorias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 10px;
}

.cat-card {
  padding: 10px;
  border-radius: 8px;
  background: #f1f2f6;
  text-align: center;
  border: 1px solid #dcdde1;
}

.cat-card p:first-child {
  font-weight: bold;
  margin-bottom: 4px;
}
