<nav class="navbar">

  <div class="nav-left">
    <a routerLink="/tareas" class="brand">MisTareas</a>

    <a routerLink="/tareas" routerLinkActive="activo">Tareas</a>
    <a routerLink="/categorias" routerLinkActive="activo">Categorías</a>
    <a routerLink="/estadisticas" routerLinkActive="activo">Estadísticas</a>
  </div>

  <div class="nav-right">

    <!-- Si NO está logueada -->
    <ng-container *ngIf="!estaLogueada">
      <a routerLink="/login" class="btn">Iniciar Sesión</a>
      <a routerLink="/register" class="btn outlined">Registrarme</a>
    </ng-container>

    <!-- Si está logueada -->
    <ng-container *ngIf="estaLogueada">
      <button class="btn" (click)="logout()">Cerrrar Sesión</button>
    </ng-container>

  </div>

</nav>
