<app-navbar></app-navbar>

<div
  *ngIf="rutaActual === '/login' || rutaActual === '/register'"
  class="auth-layout"
  [ngClass]="rutaActual === '/login' ? 'login-bg' : 'register-bg'"
>
  <!-- LADO IZQUIERDO -->
  <div class="auth-info">
    <div class="overlay">
      <h1>Bienvenido a <span>MisTareas 💫</span></h1>

      <p class="sub">
        Gestiona tus tareas diarias, organiza tus categorías
        y analiza tu progreso de forma simple y eficiente.
      </p>

      <ul class="features">
        <li>✔ Gestión de tareas en tiempo real</li>
        <li>✔ Categorías personalizadas</li>
        <li>✔ Estadísticas visuales</li>
        <li>✔ Acceso seguro con Firebase</li>
      </ul>

      <p class="autor">Proyecto desarrollado por <b>Aidil Gonzales Medina</b></p>
    </div>
  </div>

  <!-- LADO DERECHO -->
  <div class="auth-form">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Rutas normales -->
<div *ngIf="rutaActual !== '/login' && rutaActual !== '/register'">
  <router-outlet></router-outlet>
</div>
