/* Fondo general */
.auth-layout {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 6rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;

}


/* Login */
.login-bg {
  background: linear-gradient(135deg, #d16ba5, #86a8e7, #5ffbf1);
}

/* Register */
.register-bg {
  background: linear-gradient(135deg, #d16ba5, #86a8e7, #6ea8a4);
}

/* Texto izquierda */
.auth-info {
  max-width: 55%;
}


.auth-info h1 {
  font-size: 3rem;
  font-weight: 700;
}

.auth-info h1 span {
  color: #fff;
  text-shadow: 0 4px 10px rgba(0,0,0,.2);
}

.sub {
  font-size: 1.2rem;
  margin: 1rem 0;
  opacity: .95;
}

.autor {
  margin-top: 1rem;
  font-weight: 500;
  opacity: .9;
}

.mini {
  margin-top: 2rem;
  font-size: .9rem;
  opacity: .8;
}

/* Formulario derecha */
.auth-form {
  background: #fff;
  border-radius: 20px;
  padding: 1rem;
  width: 420px;
  box-shadow: 0 20px 50px rgba(0,0,0,.25);
  color: #333;
}

/* Responsive */
@media (max-width: 900px) {
  .auth-layout {
    flex-direction: column;
    padding: 2rem;
    text-align: center;
  }

  .auth-info {
    max-width: 100%;
    margin-bottom: 2rem;
  }
}
