<div class="contenedor">

  <div class="header">
    <h2>Tus Tareas</h2>

    <button routerLink="/tareas/nueva" class="btn-agregar">
      + Nueva tarea
    </button>
  </div>

  <input 
    type="text"
    [(ngModel)]="filtro"
    placeholder="Buscar tarea..."
    class="buscador"
  />

  <div *ngIf="tareasFiltradas.length === 0" class="vacio">
    No hay tareas registradas.
  </div>

  <div class="lista" *ngIf="tareasFiltradas.length > 0">
    <div *ngFor="let t of tareasFiltradas" class="item">

      <div class="info">
        <h3>{{ t.titulo }}</h3>
        <p class="descripcion">{{ t.descripcion }}</p>

        <p><b>Categoría:</b> {{ getCategoriaNombre(t.categoriaId) }}</p>
        <p><b>Fecha:</b> {{ t.fecha }}</p>

        <p class="estado" [class.ok]="t.completada" [class.pendiente]="!t.completada">
          <b>Estado:</b> {{ t.completada ? 'Completada' : 'Pendiente' }}
        </p>
      </div>

      <div class="acciones">
        <button class="btn ver" routerLink="/tareas/{{t.id}}">Ver</button>
        <button class="btn editar" routerLink="/tareas/{{t.id}}?edit=true">Editar</button>
        <button class="btn eliminar" (click)="eliminar(t.id)">Eliminar</button>
      </div>

    </div>
  </div>

</div>
